header.header
  .header__column
    a(href=routes.home)
      span
        i.fab.fa-youtube
  .header__column
    form(action=routes.search, method="get")
      input(type="text", name="search", placeholder="검색")
      input(type="submit", value="검색")
  .header__column
    a(href=routes.join)
      span Join
    a(href=routes.login)
      span Login
    //- a(href=routes.upload)
    //-   span
    //-     i.fas.fa-video
    //- a(href=routes.profile)
    //-   span Profile
    //- a(href=routes.logout)
    //-   span Logout
    

  